! urxvt
URxvt.font: -misc-termsyn-medium-r-normal--12-120-75-75-c-60-iso8859-1
URxvt.boldFont: -misc-termsyn-bold-r-normal--12-120-75-75-c-60-iso8859-1
URxvt.italicFont:
URxvt.termName: screen-256color
URxvt.matcher.button: 1
URxvt.depth: 32
URxvt.internalBorder: 20
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.fading: 0
URxvt.urgentOnBell: true
URxvt.visualBell:   false
URxvt.background:   [93]#3D4142

! urxvt plugins
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! xft font
xft*dpi: 96
xft*antialias: true
xft*hinting: true
xft*hintstyle: hintfull

! special
*.foreground:   #f7f1ff
*.background:   #3D4142
*.cursorColor:  #f7f1ff

! black
*.color0:       #363537
*.color8:       #69676c

! red
*.color1:       #fc618d
*.color9:       #fc618d

! green
*.color2:       #7bd88f
*.color10:      #7bd88f

! yellow
*.color3:       #fce566
*.color11:      #fce566

! blue
*.color4:       #fd9353
*.color12:      #fd9353

! magenta
*.color5:       #948ae3
*.color13:      #948ae3

! cyan
*.color6:       #5ad4e6
*.color14:      #14ffff

! white
*.color7:       #f7f1ff
*.color15:      #f7f1ff
