! urxvt
urxvt.font: -misc-termsyn-medium-r-normal--12-120-75-75-c-60-iso8859-1
urxvt.boldFont: -misc-termsyn-bold-r-normal--12-120-75-75-c-60-iso8859-1
urxvt.termName: screen-256color
urxvt.matcher.button: 1
urxvt.depth: 32
urxvt.internalBorder: 20
urxvt.scrollBar: false
urxvt.cursorBlink: true
urxvt.fading: 0
urxvt.urgentOnBell: true
urxvt.visualBell:   false
urxvt.background:   [93]#3D4142

! xft font
xft*dpi: 96
xft*antialias: true
xft*hinting: true
xft*hintstyle: hintfull

! special
*.foreground:   #f7f1ff
*.background:   #3D4142
*.cursorColor:  #f7f1ff

! black
*.color0:       #363537
*.color8:       #69676c

! red
*.color1:       #fc618d
*.color9:       #fc618d

! green
*.color2:       #7bd88f
*.color10:      #7bd88f

! yellow
*.color3:       #fce566
*.color11:      #fce566

! blue
*.color4:       #fd9353
*.color12:      #fd9353

! magenta
*.color5:       #948ae3
*.color13:      #948ae3

! cyan
*.color6:       #5ad4e6
*.color14:      #14ffff

! white
*.color7:       #f7f1ff
*.color15:      #f7f1ff


